
/*!
 * responsive css Grandmills v.1.0.0
 * 
 */

@media (min-width: 480px) {
.site-logo {
  margin-bottom: 0;
  float: left;
}
.tp-focus {
  float: right;
}
}
@media (min-width: 150px) and (max-width: 767px) {
	.bottom-text img {margin-top:0px !important;}
	.watermark {display:block !important; text-align:center;}
	img.quality {display:block !important; left:35% !important; z-index:99; position:absolute !important; width:100px !important; top:/*50px*/ 301px;}
	.entry {text-align:center !important;}
}

@media (min-width: 768px) {
.container {
  width: 750px;
}
.pagewrap {
  height: 100vh;
}

.watermark {
  display: inline-block;
}
.tp-focus .phone {
  font-size: 1.2em;
}

.main {
  height: calc(100% - 134px);
}
img.quality {
  width: 110px;
  margin-left: -55px;
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: 10;
  display: inline-block;
}
.entry {
  width: 50%;
  height: 100%;
  float: left;
}
.entry .entry-head {margin-bottom: 20px;}
.entry .entry-head h4 {
  font-size: 2.2em;
}

.entry {
  text-align: right;
}
.entry + .entry {
  text-align: left;
}
.entry + .entry .entry-head a::after {
  display: none;
}
/*.entry + .entry .entry-head a::before {
  width: 31px;
  height: 33px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  content: '';
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
  background-position: -32px -32px;
}*/


.entry .lang-strip {
  padding-top:10px;
  padding-bottom:70px;
  padding-right:50px;
  padding-left:50px;
}
.site-bottom {
  padding-bottom: 0;
  padding-top: 90px;
  text-align: left;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  border-top: 0;
  background-color: transparent;
  background-image: url(../images/bottom-bg.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

}
.bottom-text {
  float: left;
}
.bottom-text p {
  margin-bottom: 0;
}
.site-bottom .social-links {
  float: right;
}

}


@media (min-width: 992px) {
}


@media (min-width: 1200px) {
.container {
  width: 1170px;
}

.site-bottom {
  padding-bottom: 15px;
  padding-top: 75px;
}
}


@media (min-width: 1600px) {
body {
   font-size: 18px;
}  
.container {
  width: 1280px;
}
.site-logo img {
  width: 208px;
}
.watermark img {
  width:620px;
}
.tp-focus > img {
  width: 164px;
}

.site-logo::before {
  box-shadow: 30px 0 60px 65px rgba(33, 74, 185, 0.8);
  border-radius: 50px 25px;
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  left: 25px;
  top: 25px;
  right: 25px;
  bottom: 55px;  
}
.tp-focus .phone > a::before {
  margin-right: 8px;
  transform: scale(1);
}


.main {
  height: calc(100% - 215px);
  position: relative;
}
img.quality {
  width: 200px;
  margin-left: -100px;
}

.entry .lang-strip {min-height:250px;}
}

